// Do not use colors starting with `-color-` -- these are for use in this file only
// red
$-color-red: #BD2D28;
$-color-light-red: #F26A40;
$-color-coral: #D73E0F;

// blue
$-color-blue: #192354;
$-color-light-blue: #597B82;

// other colors
$-color-gold: #FCC53D;
$-color-green: #2E5D2E;

// functional colors
$brand-black: #3D3533;
$brand-dark-shadow: rgba(20, 18, 17, 0.25);
$brand-gray: #9A857F;
$brand-light-gray: #BDA49D;
$brand-white: #FFFFFF;
$brand-light-shadow: rgba(255, 222, 212, 0.5);

$brand-primary: $-color-coral;
$brand-secondary: $-color-gold;
$brand-background: $brand-white;
$brand-header-text: $-color-light-red;
$brand-text: $brand-black;
$brand-link-text: $-color-blue;
$brand-link-text-hover: $-color-light-blue;
$brand-button-text: $brand-white;
$brand-success: $-color-green;
$brand-error: $-color-red;
$brand-disabled: $brand-light-gray;
