.mainNav {
  background: $brand-primary;
  button {
    .icon-bar {
      background-color: $brand-white !important;
    }
    &:hover,
    &:focus {
      background-color: $brand-secondary !important;
    }
  }
}

.dsaNavItem {
  a {
		color: $brand-white !important;
		text-decoration: none;
  }
  &:hover,
  &:focus {
    a {
      color: $brand-text !important;;
			background-color: $brand-white !important;
			text-decoration: underline !important;
    }
  }
  &.active {
    a {
      color: $brand-text !important;
      background-color: $brand-white !important;
    }
  }
}
