// import colors first
@import 'colors';
// then import everything else
@import 'admin';
@import 'elections';
@import 'membership';
@import 'paperballot';
@import 'navigation';
@import 'react-datetime';
@import 'vote';
@import 'member-search';

a {
  color: $brand-link-text;
  text-decoration: underline;
}

a:visited {
  text-decoration: underline;
}

a:hover {
  color: $brand-link-text-hover;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $brand-background;
  color: $brand-text;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4 {
  color: $brand-header-text;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.panel {
  padding-left: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  background-color: $brand-light-shadow;
}

button {
  color: $brand-button-text;
  background-color: $brand-primary;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 100%;
}

button:disabled, button[disabled] {
  background-color: $brand-light-gray;
}

input {
  margin-left: 4px;
  margin-right: 4px;
  color: $brand-text !important;
}

textarea {
  color: $brand-text !important;
  box-sizing: border-box;
  width: 50%;
}

select {
  color: $brand-button-text;
  background-color: $brand-primary;
  border: none;
  padding: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

#root {
  height: 100%;
}

.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav-container {
  height: 72px;
}

.content-container {
  display: flex;
  flex: 1;
}

.content {
  width: 100%;
}

.footer-padding {
  padding: 50px;
}

.text-pre-wrap {
  white-space: pre-wrap;
}

.glyphButton {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 0;
  background: transparent;
}

.loading-wheel {
  font-size: 8em;
  color: $brand-header-text;
  animation: spin 2s infinite linear;
  -webkit-animation: spin2 2s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.rose {
  &::before {
    content: '🌹 ';
  }
  &.after,
  &.wrap {
    &::after {
      content: ' 🌹';
    }
  }
  &.after {
    &::before {
      content: none;
    }
  }
}
